<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nouquick</title>

  <link  type="text/css" href="/fonts/css/all.css" rel="stylesheet">
  <link type="text/css" href="/style/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/style/form.css" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <script src="/index.js"></script>
  <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="container">
        <nav class="nav-extended">
                <div class="nav-wrapper">
                    <a href="/admin" class="title">nouquick</a> 
                    <a href="/" class="nav-link"><i class="fas fa-location-arrow"></i></a>     
                </div>
                <header>
                    <h2>New Result</h2>
                </header>
          <div class="nav-content">
                  <a href="/admin#results" class="return-tab"><i class="fas fa-receipt"></i></a>
          </div>
       </nav>
       <main> 
          <form class="add-content" id='resultForm' method="POST" action="/admin/new-result">
                <div class="input-field">
                        <label for="matricNumber">Matric Number</label>
                        <input type="text" id="matricNumber" name="matric" placeholder="e.g. NOU451235011" required>
                </div>     
                <div class="input-field">
                  <%for(let i = 0; i < courses.length; i++){%>
                  <label for="code"><%=courses[i].code%></label>
                  <input type="radio" id="code" name="score[code]" value="<%=courses[i].code%>" required>
                  <%}%>
                </div>
                <div class="input-field">
                  <label for="units">Course Units</label>
                  <input type="number" id="units" name="score[units]" min="1" max="6" value="1"
                    required />
                </div>
                <div class="input-field">
                    <label for="tma1">TMA 1</label>
                    <input type="number" id="tma1" name="score[tma1]" placeholder="e.g. 30" min="0" max="10" step="any" required>
                </div>
                <div class="input-field">
                  <label for="tma2">TMA 2</label>
                  <input type="number" id="tma2" name="score[tma2]" placeholder="e.g. 5" min="0" max="10" step="any" required>
                </div>
                <div class="input-field">
                  <label for="tma3">TMA 3</label>
                  <input type="number" id="tma3" name="score[tma3]" placeholder="e.g. 5" min="0" max="10" step="any" required>
                </div>
                <div class="input-field">
                  <label for="tma4">TMA 4</label>
                  <input type="number" id="tma4" name="score[tma4]" placeholder="e.g. 5" min="0" max="10" step="any" required>
                </div>
                <div class="input-field">
                  <label for="exam">Exam Score</label>
                  <input type="number" id="exam" name="score[exam]" placeholder="e.g. 120" min="0" max="150" step="any" required>
                </div>
                <div class="input-field">
                  <label for="questions">Number of Exam Questions</label>
                  <input type="number" id="questions" name="score[numQuestions]" placeholder="e.g. 120" min="0" max="150" required>
                </div>     
                <div class="submit-field">
                    <button>Submit</button>
                    <button><a href="/admin#results">Cancel</a></button>
                </div>  
          </form>
       </main>
      </div>
    


</body>
</html>